set scrolloff=10
set sidescrolloff=15
set relativenumber
set incsearch
set ignorecase

" --- Plugins ---
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'

" --- Key mappings ---
map <C-c> <Esc>
map <space>o o<Esc>
map <space>O O<Esc>

" tab in normal mode
nmap <tab> <Action>(NextTab)
nmap <C-tab> <Action>(PreviousTab)

" splits
nmap <space>n <Action>(NextSplitter)

" copy and paste from clipboard
vmap <space>y "+y
vmap <space>d "+d
nmap <space>y "+yy
nmap <space>p "+p
nmap <space>P "+P
vmap <space>p "+p

" IDE actions
" run
map <space>rr <Action>(Run)
map <space>rs <Action>(Stop)
map <space>rc <Action>(ChooseRunConfiguration)
map <space>rd <Action>(Debug)

" do
map <space>df <Action>(QuickFix)
map <space>dr <Action>(RenameElement)

" show
map <space>su <Action>(ShowUsages)

" git
map <space>ga <Action>(Annotate)
map <space>gr <Action>(Vcs.RollbackChangedLines)

" errors
map <space>en <Action>(GotoNextError)
map <space>ep <Action>(GotoPreviousError)

" other
map <space>bb <Action>(ToggleLineBreakpoint)
map <space>br <Action>(Debugger.RemoveAllBreakpoints)

" add caret above and below
map <C-k> <Action>(EditorCloneCaretAbove)
map <C-j> <Action>(EditorCloneCaretBelow)

nmap <C-n> <Plug>NextOccurrence
xmap <C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence
